In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('Data/all_data.csv')
df = pd.DataFrame(data)
df.head()

,YEAR,DOY,HR,Kp index,R-(Sunspot No.),Dst-index-nT,ap_index-nT,f10.7_index
0,2014,1,0,23,124,-11,11,154.3
1,2014,2,0,33,133,-19,18,155.2
2,2014,3,0,20,153,-18,9,176.3
3,2014,4,0,17,136,-10,6,253.3
4,2014,5,0,7,134,-8,3,210.3